<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-lightbulb-o fa-3x"></i>&nbsp;<div class="noi-brand">Network of Innovators beta</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {% if 'social-login' in session %}
            <img class="profile-img-nav fa-3x" src="{{session['social-login']['picture']}}"/>
            {% else %}
            <i class="fa fa-street-view fa-3x"></i>
            {% endif %}
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if 'social-login' in session %}
            <li><a href="/me">Edit My Profile</a></li>
            <li><a href="/my-expertise">Edit My Expertise</a></li>
            {% if session['social-login'] %}
              <li><a href="/user/{{session['social-login']['userid']}}">See My Public Profile</a></li>
            {% endif %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-exchange fa-3x"></i>
&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/search">Search for Innovators</a></li>
            <li><a href="/match">Those who know what I do not</a></li>
            <li><a href="/match-knn">Those most like me</a></li>
          </ul>
        </li>
        <li><a href="/dashboard"><i class="fa fa-line-chart fa-3x"></i></a></li>
        <li><a href="/about"><i class="fa fa-info-circle fa-3x"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>