{% extends "__base__.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About the Network of Innovators</h1>
<p>Network of Innovators (NoI) is a mobile application collaboratively designed and developed by The GovLab in partnership with governance innovation leaders across seven countries. NoI is not another working group but a way to connect and search for people within and across governments. NoI adopts a more nuanced way of sharing and finding expertise – one that looks beyond traditional credentials to focus on real world know how.</p>

<p>The project aims to organize directories of expertise, including skills and experience, of those working in domains believed to be integral to governing more effectively and legitimately, like opening data, prize-backed challenges and crowdsourcing for public good.</p>

<p>By answering questions about your innovation skills and experiences, the app will create a profile for you and match you to those with complementary knowledge to enable mutual learning.</p>

<p>We welcome your feedback on the NoI. Please share your thoughts <a>here</a>.</p>

{% endblock %}