{% extends '__base__.html' %}


{% block page_style_post %}
<style>
.row { margin-top: 30px}
.numberCircle {
    border-radius: 50%;

    width: 48px;
    height: 48px;
    padding: 5px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    vertical-align: middle;
    font: 32px Arial, sans-serif;
    margin-bottom: 5px;
}

.noi-oboarding-call-to-action { text-transform: uppercase; }
.noi-onboarding { text-align: center;
    text-transform: uppercase;
    border: solid 1px black;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;}

.noi-achievement-unlocked { float: right; font-size: 300%;
    vertical-align: text-top;
    text-align: center;
    margin-top: -15px;
    margin-right: 10px;
}

.noi-green { color: green;}
.noi-red { color: red;}

</style>
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="noi-onboarding col-md-offset-3 col-md-6">
            <div class="noi-achievement-unlocked"><i class="fa fa-check-circle-o noi-green"></i></div>
            Thank you for visiting<br/>The Network of Innovators beta,<br/>a GovLab Experiment<br/>
            Learn more <i class="fa fa-info-circle"></i>
        </div>
    </div>

    <div class="row">
        <div class="noi-onboarding col-md-offset-3 col-md-6">
            <div class="noi-achievement-unlocked"><i class="fa {{ 'fa-check-circle-o noi-green' if session['social-login'] else 'fa-circle-o noi-red'}}"></i></div>
            <div class="numberCircle center-block">1</div>
            <div class="noi-oboarding-call-to-action">Sign-up using your favorite service</div>
        </div>
    </div>

    <div class="row">
        <div class="noi-onboarding col-md-offset-3 col-md-6">
            <div class="noi-achievement-unlocked"><i class="fa {{ 'fa-check-circle-o noi-green' if session['has_created_profile'] else 'fa-circle-o noi-red'}}"></i></div>
            <div class="numberCircle center-block">2</div>
            <div class="noi-oboarding-call-to-action">Create your profile</div>
        </div>
    </div>

    <div class="row">
        <div class="noi-onboarding col-md-offset-3 col-md-6">
            <div class="noi-achievement-unlocked"><i class="fa {{ 'fa-check-circle-o noi-green' if session['has_filled_expertise'] else 'fa-circle-o noi-red'}}"></i></div>
            <div class="numberCircle center-block">3</div>
            <div class="noi-oboarding-call-to-action">Tell us what you know</div>

        </div>
    </div>

    <div class="row">
        <div class="noi-onboarding col-md-offset-3 col-md-6">
            <div class="noi-achievement-unlocked"><i class="fa {{ 'fa-check-circle-o noi-green' if session['has_done_search'] else 'fa-circle-o noi-red'}}"></i></div>
            <div class="numberCircle center-block">4</div>
            <div class="noi-oboarding-call-to-action">Find innovators to answer your questions <i class="fa fa-exchange"></i></div>
            <div class="noi-oboarding-call-to-action">Explore the network <i class="fa fa-line-chart"></i></div>
        </div>
    </div>

</div>

{% endblock %}


{% block page_script %}
<script>
// The user asked to be logged out; we log him/her out.
var idp = $.querystring(window.location.search)['logout'];
if (idp) {
    hello.logout(idp);
    console.log('Logged out from ' + idp);    
}
</script>
{% endblock %}